<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Datos personales</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/estilosBasicos.css}" />
</head>
<body>
<div th:insert="~{fragmentos/navbar}"></div>
<form id="datos-personales" action="datos1" method="post" th:object="${datosPersonales}">

    <fieldset>
        <legend th:text="#{datosPersonales}"/>
    <label class="titulo" th:text="#{etiqueta_nombre}+':'"/>
    <input type="text" th:field="*{nombre}"/>



    <label class="titulo" th:text="#{etiqueta_apellidos}+':'"/>
    <input type="text" th:field="*{apellidos}" />
    <br />

    <th:block th:each="error : ${#fields.errors('nombre')}">
        <div th:text="${error}" class="error"/>
    </th:block>

     <th:block th:each="error : ${#fields.errors('apellidos')}">
         <div th:text="${error}" class="error"/>
     </th:block>

    <label class="titulo" th:text="#{etiqueta_fechaNacimiento}+':'"/>
    <input type="text" th:field="*{fechaNacimiento}" />
    <br />
        <th:block th:each="error : ${#fields.errors('fechaNacimiento')}">
            <div th:text="${error}" class="error"/>
        </th:block>

    <label class="titulo" th:text="#{etiqueta_genero}+':'"/>
    <th:block th:each="genero : ${generos}">
        <input type="radio" th:field="*{generoSeleccionado}" th:value="${genero.key}" th:checked="${genero.key==generos}">
        <label th:text="${genero.value}"></label>
    </th:block>
    <br />
    <th:block th:each="error : ${#fields.errors('generoSeleccionado')}">
        <div th:text="${error}" class="error"/>
    </th:block>


    <th:block th:each="extra : ${extras}">
        <label th:text="${extra.value}"></label>
        <input type="checkbox" th:field="*{extrasSeleccionados}" th:value="${extra.key}" th:checked="${#lists.contains(extras, extra.key)}">
    </th:block>
    <br />
    <label class="titulo" th:text="#{etiqueta_nacionalidades} "/>
    <select th:field="*{nacionalidadesSeleccionadas}" multiple="multiple">
        <option name="nacionalidad" th:each="nacionalidad : ${nacionalidades}" th:value="${nacionalidad.value}" >
            <th:block th:text="${nacionalidad.value}" />
        </option>
    </select>

    <br />

    <th:block th:each="error : ${#fields.errors('nacionalidadesSeleccionadas')}">
        <div th:text="${error}" class="error"/>
    </th:block>
    <input type="submit" th:value="#{etiqueta_botonEnviar1}">
    </fieldset>
 </form>
 </body>
 </html>