<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Datos bancarios</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/estilosBasicos.css}" />
</head>
<body>
<div th:insert="~{fragmentos/navbar}"></div>
<form id="datos-bancarios" action="datos3" method="post" th:object="${datosBancarios}">
    <fieldset>
        <legend th:text="#{datosBancarios}"/>

        <label class="titulo" th:text="#{etiqueta_cuenta}+':'"/>
        <input type="text" th:field="*{cuentaCorriente}" />
        <br />

        <th:block th:each="error : ${#fields.errors('cuentaCorriente')}">
            <div th:text="${error}" class="error"/>
        </th:block>

        <input type="submit" th:value="#{etiqueta_botonEnviar3}">
    </fieldset>
</form>
</body>
</html>