<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Resumen</title>
</head>
<body>
<form method="post" th:object="${datosPersonales}">
    <fieldset>
        <legend th:text="#{datosPersonales}"/>
        <label class="titulo" th:text="#{etiqueta_nombre}+': '"/>
        <label class="datos" th:text="*{nombre} "/>
        <br />
        <label class="titulo" th:text="#{etiqueta_apellidos}+': '"/>
        <label class="datos" th:text="*{apellidos}"/>
    </fieldset>
</form>
<form>
    <fieldset>
        <legend th:text="#{datosProfesionales}"/>
    </fieldset>
</form>
<form>
    <fieldset>
        <legend th:text="#{datosBancarios}"/>
    </fieldset>
</form>
</body>
</html>